# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CD Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    types: [synchronize]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i
#    - name: Lint
#      run: npm run lint --if-present
    - name: Build
      run: npm run build --if-present
    - name: Publish to all guilds
      run: npm run publish --if-present
#      if: ${{ github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.synchronize) }}
      env:
        DEPLOYMENTS: ${{secrets.PYLON_API_DEPLOYMENTS}}
        API_TOKEN: ${{secrets.PYLON_API_KEY}}
        WEBHOOK_URL: ${{secrets.WEBHOOK_URL}}
